<% layout('../layouts/boilerplate') %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4 col-xl-6 offset-xl-3">
                <h2>
                    Edit Camp
                </h2>
                <form class="needs-validation" action="/camps/<%= foundCamp._id %>?_method=PUT" method="post" novalidate enctype="multipart/form-data">

                    <div class="form-group mb-3">
                        <label class="form-label" for="nameofcamp">Title: </label>
                        <input value="<%= foundCamp.name %>" class="form-control" type="text" id="nameofcamp" name="camp[name]" required>
                        <div class="valid-feedback">
                            Cool!
                        </div>

                        <div class="invalid-feedback">
                            Pathetic, no name?
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label" for="camplocation">Location: </label>
                        <input value="<%= foundCamp.location %>" class="form-control" type="text" id="camplocation" name="camp[location]" required>
                        <div class="valid-feedback">
                            Cool!
                        </div>

                        <div class="invalid-feedback">
                            Cool and all..but where is the camp located again?
                        </div>

                    </div>

                    <div class="mb-3">
                        <label class="sr-only" for="inlineFormInputGroup">Price:</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>
                            <input value="<%= foundCamp.price %>" type="text" class="form-control" name="camp[price]" id="inlineFormInputGroup"
                                placeholder="Price" required>

                            <div class="valid-feedback">
                                Cool!
                            </div>

                            <div class="invalid-feedback">
                                This is not a free country hahah
                            </div>

                        </div>


                    </div>

                    <!-- <div class="form-group mb-3">
                        <label class="form-label" for="image">Upload Image</label>
                        <input type="file" name="image" id="image" multiple>
                    </div> -->

                    

                    <div class="form-group mb-3">
                        <label class="form-label" for="desc">Descreption: </label>
                        <textarea name="camp[desc]" id="desc" cols="30"
                            placeholder="Give a brief about your medical camp!" rows="10" class="form-control"
                            required><%= foundCamp.desc %></textarea>
                        <div class="valid-feedback">
                            Cool!
                        </div>
                        <div class="invalid-feedback">
                            Lmao, Dont you have anything to say about your camp?
                        </div>

                    </div>

                    <div class="form-control mb-3">
                        <label for="image" class="form-label">Add More Images</label>
                        <input name="image" class="form-control" type="file" id="image" multiple>
                      </div>
                    <% if(foundCamp.images.length>0){ %> 
                      <h5 class="mt-3 mb-3">Manage Images: </h5>
                      <% } %> 
                      <div class="mb-3">
                        <% foundCamp.images.forEach(function(image,i) { %>
                            <img class="img-thumbnail" src="<%=image.thumbnail%>" alt="EditImage">
                            <label for="img-<%=i+1%>">Delete?</label>
                            <input class="" type="checkbox" value="<%=image.filename%>" name="deleteImgs[]" id="img-<%=i+1%>">
                         <!-- this name and value thing and how the links are added into it is kinda janky. Please look into it. -->
                            <% }); %>


                    </div>

                    <button type="submit" class="btn btn-success col-4 offset-4">
                        Done
                    </button>

                </form>

                    
                    
                   

            </div>
        </div>
    </div>


    <!-- </body> -->


    <!-- </html> -->